$gap: 10px;
$background-color:#fff;
$background-color-black:#191919;
$brown: #2b1d14;
$orange: #ffb45c;
$dark-orange: #e67e22;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: Arial, sans-serif;

}


a {
  text-decoration: none;
  color: inherit;
}

header {
   display: flex;
   flex-direction: row;
   background-color: $brown;
   align-items: center;
   justify-content: center;
   gap: 10vw;
   padding-top: 32px;
   padding-bottom: 32px;
   margin-bottom: 100px;
  h1 {
    color: #ffffff;
    font-size: 14px; 
  }

  nav {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 15px;

    a {
      color: #ffffff;
      text-decoration: none;
      white-space: nowrap; 
      font-size: 16px;
    }

    span {
      color: #ffffff;
      font-size: 6px !important; 
    }
  }
}





.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 16px;
  background-color: $background-color;
  margin-bottom:100px ;
  padding-top: 50px;
  padding-bottom: 50px;
  animation: fadeIn 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    position: relative;
    display: inline-block;
    color: #222;
    animation: slideDown 1s ease-out;
      &::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background: $dark-orange;
      margin-top: 0.5rem;
      border-radius: 2px;
    }
  }

  .carousel-container {
    display: flex;
    gap: $gap;
    overflow: hidden; 
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    animation: slideDown 0.5s ease-in-out;
    &::-webkit-scrollbar {
      background: transparent;
    }
  }

  .carousel-slide {
    flex: 0 0 auto;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
   animation: slideDown 0.5s ease-in-out;
    scroll-snap-align: start;
img {
  width: 100%;
  height: auto;
  min-height: 400px;
  object-fit: cover;
  border-radius: 5px;
  border: 5px solid $brown;
}
  }

  .carousel-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    animation: slideDown 0.5s ease-in-out;
    button.prev,
    button.next {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 15px;
      opacity: 0.5;
      transition: opacity 0.1s;
      
      &:hover {
        opacity: 1;
        transition: 0.6s;
        scale: 1.1;
      }
    }
  }
}







.afisha {
  display: flex;
  flex-direction: column;
  font-family: "Georgia", serif;
  background-color: $background-color;
  color: #222;
  padding-bottom: 50px;
  animation: fadeIn 1s ease-in-out;
    .container-afisha, .container-afisha-program{
        margin-top: 50px;
    padding: 0 clamp(16px, 10vw, 312px);
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  h2 {
    font-size: 2.5rem;

    position: relative;
    display: inline-block;
    color: #222;
    animation: slideDown 1s ease-out;
      &::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background: $dark-orange;
      margin-top: 0.5rem;
      border-radius: 2px;
    }
  }

    a {
      display: flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;
      color: $brown;
      font-size: clamp(14px, 1.5vw, 18px);
      font-weight: 500;
      transition: 0.3s ease;

      &:hover {
        color: $dark-orange;
        transform: translateX(3px);
      }
    }
  }
  .container-afisha{justify-content: space-between;}
  .container-afisha-program{justify-content: center;}
}

  .play-container {
    padding: 0 clamp(16px, 10vw, 312px);
    display: flex;
    flex-direction: column;
    gap: 60px;

    .play {
      display: flex;
      background: #fff;
      border-radius: 16px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      overflow: hidden;
      align-items: center;
      min-height: 260px;
      position: relative;
      transition: 0.3s ease;

      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      }

      .play-date {
        width: 180px;
        text-align: center;
        background: $brown;
        padding: 50px 0;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 2px solid #ececec;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        .day {
          display: block;
          font-size: 48px;
          color: $background-color;
        }

        .month {
          text-transform: uppercase;
          font-size: 16px;
          color: $background-color;
        }
      }

      .play-content {
        display: flex;
        align-items: center;
        gap: 40px;
        flex: 1;
        padding: 40px;
        background-color: #fff;

        img {
          display: block;
          width: 320px;
          height: 240px;
          border-radius: 12px;
          object-fit: cover;
          flex-shrink: 0;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
          transition: 0.3s;

          &:hover {
            transform: scale(1.02);
          }
        }

        .play-info {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 16px;

          h3 {
            font-size: clamp(18px, 2vw, 24px);
            color: #000;
            margin: 0;
          }
        }



      }
    }
  }

        .buy-btn-more,
        .buy-btn-reservation{
          position: absolute;
          background-color: $dark-orange;
          color: white;
          padding: 10px 26px;
          border-radius: 30px;
          text-decoration: none;
          font-weight: 500;
          transition: 0.25s ease;
          box-shadow: 0 2px 8px #0000001a;
          right: 40px;
           right: 40px;
            text-align: center;
          &:hover {
            background-color: $orange;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
          }
        }
        
        .buy-btn-more {
          bottom: 40px;
         
         
        }
        .buy-btn-reservation {
          bottom: 100px;
          
        }





footer {
  background-color: $brown; 
  color: #dcdcdc;
  padding: 60px 312px;
  display: flex;
  justify-content: space-between;
  font-family: "Georgia", serif;
margin-top: 100px;
  h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
  }

  p,
  li,
  a {
    font-size: 15px;
    color: #ccc;
    text-decoration: none;
    transition: color 0.2s ease;
  }

  a:hover {
    color: #fff;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .footer-partners,
  .footer-contacts {
    width: 30%;
  }

  .footer-socials {
    margin-top: 10px;

    a {
      color: #aaa;
      font-size: 14px;

      &:hover {
        color: #fff;
      }
    }
  }
}


@media (min-width: 1025px){
    .carousel-slide {
    width: calc((100% - ($gap * 2)) / 3); 
  }
}
/* --- Адаптация для экранов до 1024px --- */
@media (max-width: 1024px) {
  header {
    padding: 20px 0;

    h1 {
      font-size: 12px;
      margin-left: 10px;
    }

    nav {
      gap: 12px;

      a { font-size: 14px; }
      span { font-size: 5px !important; }
    }
  }
    .carousel-slide {
    width: calc((100% - ($gap )) / 2); 
  }
  .container-afisha, .container-afisha-program {
      padding: 0 80px;

      h2 {
        font-size: 30px;
      }

      a {
        font-size: 16px;
      }
    }

    .play-container {
      padding: 0 80px;
      gap: 40px;

      .play {
        flex-direction: column;
        align-items: center;
        min-height: auto;

        .play-date {
          width: 100%;
          padding: 20px 0;
          display: flex;
          justify-content: center;
          gap: 10px;

          .day {
            font-size: 36px;
          }

          .month {
            font-size: 14px;
          }
        }

        .play-content {
          flex-direction: column;
          align-items: flex-start;
          padding: 20px;

          img {
            width: 100%;
            height: auto;
          }

          .play-info {
            h3 {
              font-size: 20px;
            }

            .desc {
              font-size: 14px;
            }
          }

          .buy-btn-more,
          .buy-btn-reservation {
            position: static;
            margin-top: 10px;
          }
        }
      }
    }

    footer{
          padding: 40px 80px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    
    &::before {
      width: 100%;
      margin-bottom: 20px;
    }

    .footer-partners,
    .footer-contacts {
      width: 100%;
    }
    }

}


.play-one-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  padding-bottom: 100px;
  border-radius: 1rem;
  animation: fadeIn 1s ease-in-out;
  background-color: $brown;

  .play-one-name {
    text-align: center;
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
      font-weight: 600;
      display: inline-block;
      padding-bottom: 0.5rem;
      color: $orange;
    }
  }

  .play-one {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    gap: 40px;
    .play-one-image {
      flex: 1 1 350px;
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        max-width: 400px;
        border-radius: 1rem;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        object-fit: cover;
      }
    }

    .play-one-info {
      flex: 1 1 400px;
      padding: 1.5rem;
      border-radius: 1rem;
      line-height: 1.6;
      margin-right: 20px;
      p {
        margin-bottom: 1rem;
        font-size: 1rem;
        color: $background-color;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  
    .buy-btn-reservation-play-one{
      display: inline-block;
      background: $dark-orange;
      color: $background-color;
      font-weight: 600;
      padding: 0.75rem 1.5rem;
      border-radius: 2rem;
      text-decoration: none;
      text-align: center;
      transition: all 0.3s ease;

      &:hover {
        background:$orange;
        transform: translateY(-2px);
        box-shadow:$dark-orange;
      }
    }
}












/* --- Адаптация для экранов до 480px --- */
@media (max-width: 480px) {
  header {
    padding: 10px 0;

    h1 { font-size: 10px; }

    nav {
      gap: 8px;

      a { font-size: 12px; }
      span { font-size: 4px !important; }
    }
  }
   .carousel-slide {
    width: 100%; // 1 картинка
  }
   .container-afisha, .container-afisha-program {
      padding: 0 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      h2 {
        font-size: 26px;
      }

      a {
        font-size: 14px;
      }
    }

    .play-container {
      padding: 0 20px;
      gap: 30px;

      .play {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-radius: 12px;

        .play-date {
          padding: 10px 0;
          .day {
            font-size: 32px;
          }
          .month {
            font-size: 13px;
          }
        }

        .play-content {
          padding: 0;
          flex-direction: column;
          align-items: center;
          gap: 15px;

          img {
            width: 100%;
            height: auto;
          }

          .play-info {
            h3 {
              font-size: 18px;
              text-align: center;
            }

            .desc {
              font-size: 13px;
              text-align: center;
            }
          }

          .buy-btn-more,
          .buy-btn-reservation {
            position: static;
            margin: 6px 0;
            width: 100%;
            text-align: center;
          }
        }
      }
    }

    footer{
          padding: 40px 20px;
    h4 {
      font-size: 18px;
    }

    p,
    li,
    a {
      font-size: 14px;
    }

    .footer-socials a {
      font-size: 13px;
    }
  }
}
  

.contacts {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  animation: fadeIn 1s ease-in-out;

  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    position: relative;
    display: inline-block;
    animation: slideDown 1s ease-out;
  }

  &-info {
    animation: fadeUp 1s ease-in-out 0.3s both;

    p {
      margin: 0.3rem 0;
      font-size: 1rem;

      a {
        color: #007bff;
        text-decoration: none;
        transition: color 0.3s, transform 0.3s;

        &:hover {
          color: #0056b3;
          transform: scale(1.05);
        }
      }
    }
  }

  &-socials {
    margin-top: 1rem;
    animation: fadeUp 1s ease-in-out 0.5s both;

    a {
      color: #333;
      text-decoration: none;
      margin: 0 0.3rem;
      transition: color 0.3s, transform 0.3s;

      &:hover {
        color: #007bff;
        transform: translateY(-2px);
      }
    }
  }

  &-map {
    margin-top: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(20px);
    opacity: 0;
    animation: fadeUp 1.2s ease-out 0.7s forwards;

    iframe {
      width: 100%;
      height: 350px;
      border: none;
      transition: transform 0.6s ease;
    }

    &:hover iframe {
      transform: scale(1.03);
    }
  }
}


.about-us {
  max-width: 800px;
  margin: 0 auto 100px auto;
  padding: 3rem 2rem;
  text-align: left;
  font-family: 'Arial', sans-serif;
  line-height: 1.8;
  color: #333;
  animation: fadeIn 1s ease-in-out;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    position: relative;
    display: inline-block;
    color: #222;
    animation: slideDown 1s ease-out;
      &::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background: $dark-orange;
      margin-top: 0.5rem;
      border-radius: 2px;
    }
  }


  .about-us-info {
    animation: slideUp 1s ease-out;

    p {
      margin-bottom: 1.5rem;
      font-size: 1.1rem;
      color: #444;
    }
  }
}


.partners {
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 2rem;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
  background: $brown;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);

  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    position: relative;
    display: inline-block;
    animation: slideDown 1s ease-out;
    color: $orange;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
    animation: fadeUp 1s ease-in-out 0.3s both;

    li {
      margin: 0.6rem 0;
      font-size: 1.1rem;
      padding: 0.6rem 1rem;
      transition: all 0.3s ease;
      border-radius: 10px;
      color: $background-color;
      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background:$orange ;
        transform: translateY(-2px);
      }

      a {
        text-decoration: none;
      }
    }
  }
}


.reservation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 4rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
  label {
    font-weight: 600;
    color: #333;
  }

  input, select {
    width: 100%;
    padding: 0.6rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: border-color 0.2s, box-shadow 0.2s;
    margin-top: 10px;
    &:focus {
      outline: none;
      border-color: $dark-orange; 
      box-shadow: 0 0 0 3px $dark-orange;
    }
  }

  button {
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    background: $dark-orange;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s, transform 0.1s;

    &:hover {
      background: $orange;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}



.reservation-container {
  max-width: 700px;
  margin: 3rem auto 2rem;
  padding: 2rem 2.5rem;
  color: $brown;
  line-height: 1.6;
  animation: slideDown 1s ease-in-out;
    h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    position: relative;
    display: inline-block;
    color: #222;
    animation: slideDown 1s ease-out;
      &::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background: $dark-orange;
      margin-top: 0.5rem;
      border-radius: 2px;
    }
  }
  p {
    margin-bottom: 1rem;
    font-size: 1.05rem;
  }
}

  .reservation-info {
  max-width: 700px;
  margin: 0 auto 4rem;
  padding: 1.5rem 2rem;
  background: $brown;
  color: #fff;
  border-radius: 1rem;
  list-style: disc inside;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  animation: fadeUp 1s ease-in-out;
  h2 {
    font-size: 1.6rem;
    color: $orange;
    margin-bottom: 1rem;
    text-align: center;

  }

  li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    &::marker {
      color: $orange;
    }
  }
  }


.feedback-button{
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 20px;
  color: $background-color;
  background-color:$background-color-black ;
  animation: fadeUp 0.5s ease-in-out;
  transition: background 0.2s, transform 0.5s;
  &:hover {
    background-color: $dark-orange;
    transform: translateY(-10px) translateX(-10px) scale(1.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  }
}



.feedback {
  max-width: 500px;
  margin: 3rem auto;
  padding: 2rem 2.5rem;
  background-color: $background-color;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: fadeUp 0.6s ease-in-out;

  label {
    font-weight: 600;
    color: $brown;
    margin-bottom: 0.25rem;
  }

  input,
  textarea,
  select {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: border-color 0.2s, box-shadow 0.2s;
    margin-top: 10px;
    resize: none;
    &:focus {
      outline: none;
      border-color: $dark-orange;
      box-shadow: 0 0 0 3px $dark-orange;
    }
  }

  button {
    align-self: flex-end;
    background-color: $brown;
    color: #fff8f0;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    
    &:hover {
      background-color: $orange;
      transform: translateY(-3px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: translateY(0);
      box-shadow: none;
    }
  }
}





@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
