{% extends "web/base.html" %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<div class="about-us">
    <h2>О нас</h2>
    <div class="about-us-info">
        <p>
            Театр «Prague Stage» — это место, где оживают эмоции, истории и мечты. Мы объединяем талантливых актёров, режиссёров и художников, чтобы создавать живое искусство, которое трогает сердце каждого зрителя.
        </p>
        <p>
            Наш театр был основан в Праге в [год основания] и с тех пор стал частью культурной жизни города. В репертуаре — современные постановки, классика в новом прочтении, музыкальные спектакли и экспериментальные проекты.
        </p>
        <p>
            Мы стремимся сделать театр доступным для всех — будь то опытные театралы или те, кто только открывает для себя этот удивительный мир.
        </p>
        <p>
            Наш зал расположен в самом центре Праги, где уютная атмосфера и внимательное отношение к зрителям создают особое ощущение домашнего уюта.
        </p>
        <p>
            Добро пожаловать в театр «Prague Stage» — место, где каждая сцена наполнена жизнью, а каждый спектакль — новым открытием.
        </p>
    </div>
</div>
<div class="carousel">
        <h2>Карусель</h2>
    <div class="carousel-container">
    
    {% for image in carousel_images %}
    <div class="carousel-slide">
    <img src="{{ image.image.url }}" alt="">
    </div>
    {% endfor %}
    </div>   
    <div class="carousel-buttons">
  <button class="prev" onclick="carouselMove(false)">&#10094;</button>
  <button class="next" onclick="carouselMove()">&#10095;</button>
</div>
</div>
{% endblock %}