{% extends "web/base.html" %}

{% block title %}
Tickets
{% endblock %}

{% block content %}

<div class="reservation-container">
    <h2>Резервация билетов</h2>
    <p>Планируете вечер в театре?
    Забронируйте билеты онлайн — быстро, удобно и без очередей.</p>
    <p>Выберите спектакль из программы, укажите количество билетов и свои контактные данные. После отправки формы мы свяжемся с вами по email, чтобы подтвердить бронь и предоставить подробную информацию об оплате и получении билетов.</p>
    <p>Если вы хотите оформить групповую бронь или у вас есть особые пожелания, напишите нам — мы постараемся сделать ваш визит максимально комфортным.</p>
</div>
<ul class="reservation-info">
    <h2>Важно</h2>
    <li>Бронь действительна в течение 48 часов с момента подтверждения.</li>
    <li>Оплата возможна на месте в кассе театра или онлайн (в будущем).</li>
    <li>При опоздании более чем на 15 минут бронь может быть аннулирована.</li>
</ul>
<form class="reservation" method="post">
    {% csrf_token %}
    {{form}}
    <button type="submit">Send</button>
</form>
  
{% endblock %}